<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clash 订阅链接转 sing-box</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.7/pico.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"
        integrity="sha512-g2TeAWw5GPnX7z0Kn8nFbYfeHcvAu/tx6d6mrLe/90mkCxO+RcptyYpksUz35EO337F83bZwcmUyHiHamspkfg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-base64@3.7.5/base64.min.js"></script>
    <style type="text/css">
        header {
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <nav class="container-fluid">
                <ul>
                    <li><strong>clash 订阅链接转 sing-box</strong></li>
                </ul>
                <ul>
                </ul>
            </nav>
        </header>
        <main class="container">
            <p>将 clash 格式的订阅链接转换为 sing-box 的工具，转换后的链接可用于安卓版本的 <a
                    href="https://sing-box.sagernet.org/installation/clients/sfa/">SFA</a>，ios 版本的未测试。</p>
            <input placeholder="订阅链接，多个链接使用 | 分割" v-model="sub" />
            <input placeholder="url test 中包含的节点名（可用正则）" v-model="include" />
            <input placeholder="url test 中排除的节点名（可用正则）" v-model="exclude" />
            <label for="switch">
                <input type="checkbox" id="switch" name="switch" role="switch" v-model="saveType">
                {{ saveTypeText }}
            </label>
            <br />
            <details>
                <summary>配置文件模板</summary>
                <label>
                    <input type="checkbox" role="switch" v-model="checkbox">
                    配置文件模板直链
                </label>
                <textarea style="resize: none;height: 25em;" v-model="config" v-show="!checkbox"></textarea>
                <input v-model="configurl" v-show="checkbox" />
            </details>
            <button @click="click">获取 sing-box 格式订阅链接</button>
            <code v-if="newsub">{{ newsub }}</code>
        </main>
    </div>
</body>

<script type="module">
    Vue.createApp({
        setup(props, context) {
            const sub = Vue.ref('');
            const newsub = Vue.ref('');
            const include = Vue.ref('');
            const exclude = Vue.ref('');
            const config = Vue.ref('加载中');
            const checkbox = Vue.ref(false)
            const configurl = Vue.ref('');
            const saveType = Vue.ref(true);
            const saveTypeText = Vue.ref('参数保存在链接内');

            Vue.watch(saveType, v => {
                if (v) {
                    saveTypeText.value = "参数保存在链接内"
                } else {
                    saveTypeText.value = "参数保存在服务端"
                }
            })


            let oldConfig = "";

            (async () => {
                const f = await fetch("/config")
                config.value = await f.text()
                oldConfig = config.value
            })();

            function saveParameter() {
                const subUrl = new URL(new URL(location.href).origin)
                subUrl.pathname = "/sub"
                const c = config.value != oldConfig ? config.value : ""
                if (c != "") {
                    const compressed = pako.deflate(config.value);
                    const base64String = Base64.fromUint8Array(compressed, true)
                    subUrl.searchParams.set("config", base64String)
                }
                configurl.value && subUrl.searchParams.set("configurl", configurl.value)
                include.value && subUrl.searchParams.set("include", include.value)
                exclude.value && subUrl.searchParams.set("exclude", exclude.value)
                subUrl.searchParams.set("sub", sub.value)
                newsub.value = subUrl.toString()
            }

            async function saveServer() {
                const u = new URL(new URL(location.href).origin)
                u.pathname = "/put"

                const c = config.value != oldConfig ? config.value : ""

                const text = await (await fetch(u.toString(), {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        "Sub": sub.value,
                        "Include": include.value,
                        "Exclude": exclude.value,
                        "Config": c,
                        "ConfigUrl": configurl.value
                    })
                })).text()
                const subUrl = new URL(new URL(location.href).origin)
                subUrl.pathname = "/sub"
                subUrl.searchParams.set("id", text)
                newsub.value = subUrl.toString()
            }


            async function click() {
                if (sub.value == "") {
                    return ""
                }
                if (saveType.value) {
                    saveParameter()
                } else {
                    await saveServer()
                }
                await navigator.clipboard.writeText(newsub.value)
                alert("已复制到粘贴板")
            }

            return {
                sub,
                config,
                include,
                exclude,
                newsub,
                click,
                checkbox,
                configurl,
                saveType,
                saveTypeText
            }

        },
    }).mount('#app')   
</script>

</html>